<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">

		<title>Lavish - Free Responsive Template</title>
		<meta name="keywords" content="">
		<meta name="description" content="">
        <meta name="author" content="templatemo">
        <!-- 
        Lavish HTML CSS Template
        https://templatemo.com/tm-458-lavish
        -->
        
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- animate -->
		<link rel="stylesheet" href="css/animate.min.css">
		<!-- bootstrap -->
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<!-- font-awesome -->
		<link rel="stylesheet" href="css/font-awesome.min.css">
		<!-- google font -->
		<link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700,800' rel='stylesheet' type='text/css'>
		<!-- fullpage -->
		<link rel="stylesheet" href="css/jquery.fullPage.css">
		<!-- custom -->
		<link rel="stylesheet" href="css/templatemo-style.css">

	</head>
	<body>

	<div id="fullpage">

		<!-- start home -->
		<div id="home" class="section">
			<div class="container">
				<div class="row">
					<div class="col-md-2"></div>
					<div class="col-md-8 wow fadeIn" data-wow-delay="0.9s">
						<h3>Simple and Elegant</h3>
						<h1>Jacob Baumgarten</h1>
						<h2>PROGRAMMER &AMP; DEVELOPER</h2>
						<p>Hi! My name is Jacob Baumgarten. I am a programmer profficient in python. I am passionate about my work and eager to learn more about python and other programming languages.</p>
						<a href="#work" class="btn btn-default smoothScroll wow fadeInUp" data-wow-delay="1s">Get started</a>
					</div>
					<div class="col-md-2"></div>
				</div>
			</div>
		</div>
		<!-- end home -->

		<!-- start work -->
		<div id="work" class="section">
			<div class="container">
				<div class="row">
					<div class="col-md-12 wow bounce">
						<h2>WHAT I DO</h2>
					</div>
                </div>  
                
                <div class="row">
					<div class="col-md-4 col-xs-11 wow fadeInUp" data-wow-delay="0.6s">
						<div class="media">
							<div class="media-object media-left">
								<i class="fa fa-laptop"></i>
							</div>
							<div class="media-body">
								<h3 class="media-heading">Python Programming</h3>
								<p>Programming simple and complicated python programs for a variety of different tasks.</p>
							</div>
						</div>
					</div>
                    
					<div class="col-md-4 col-xs-11 wow fadeInUp" data-wow-delay="0.6s">
						<div class="media">
							<div class="media-object media-left">
								<i class="fa fa-link"></i>
							</div>
							<div class="media-body">
								<h3 class="media-heading">C++ &AMP; C# Programming</h3>
								<p>Designing C++, C# programs for use in applications such as Unity and Arduino.</p>
							</div>
						</div>
					</div>
                    
					<div class="col-md-4 col-xs-11 wow fadeInUp" data-wow-delay="0.6s">
						<div class="media">
							<div class="media-object media-left">
								<i class="fa fa-paper-plane"></i>
							</div>
							<div class="media-body">
								<h3 class="media-heading">HTML Programming</h3>
								<p>Creating simple webpages and simple web based programs.</p>
							</div>
						</div>
					</div>
                    
				</div>
			</div>
		</div>
		<!-- end work -->

		<!-- start about -->
		<div id="about" class="section">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-xs-11 wow fadeInLeft" data-wow-delay="0.9s">
						<h2>ABOUT LAVISH</h2>
						<h4>DESIGNER &AMP; DEVELOPER</h4>
						<p>While I mainly focus on designing and devloping Python-based programs, I have had experience with the other languages listed here..</p>
						<p>I am always looking for new opportunites to .</p>
					</div>
					<div class="col-md-6 col-xs-11 wow fadeInRight" data-wow-delay="0.9s">
						<span class="text-top">Python <small>95%</small></span>
							<div class="progress">
								<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 95%;"></div>
							</div>
						<span>Javascript <small>10%</small></span>
							<div class="progress">
								<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 10%;"></div>
							</div>
						<span>C &AMP; C# <small>50%</small></span>
							<div class="progress">
								<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 50%;"></div>
							</div>
						<span>HTML <small>50%</small></span>
							<div class="progress">
								<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 20%;"></div>
							</div>
					</div>
				</div>
			</div>
		</div>
		<!-- end about -->

		<!-- start portfolio -->
		<div id="portfolio" class="section">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2 class="wow bounce">PORTFOLIO</h2>
				</div>
				<div class="col-md-4 col-xs-6 wow fadeIn" data-wow-delay="0.6s">
					<div class="portfolio-thumb">
						<img src="images/portfolio-img7.jpg" class="img-responsive" alt="portfolio img">
							<div class="portfolio-overlay">
								<h4>Blackjack</h4>
								<h5>Lead Programmer</h5>
								<h5>A simple and basic Blackjack game</h5>
							</div>
					</div>
				</div>
				<div class="col-md-4 col-xs-6 wow fadeIn" data-wow-delay="0.6s">
					<div class="portfolio-thumb">
						<img src="images/portfolio-img12.jpg" class="img-responsive" alt="portfolio img">
							<div class="portfolio-overlay">
								<h4>Facial Recognition</h4>
								<h5>Lead Programmer</h5>
								<h5>A system that detects faces and determines who it is</h5>
							</div>
					</div>
				</div>
				<div class="col-md-4 col-xs-6 wow fadeIn" data-wow-delay="0.6s">
					<div class="portfolio-thumb">
						<img src="images/portfolio-img10.jpg" class="img-responsive" alt="portfolio img">
							<div class="portfolio-overlay">
								<h4>Medication Picker</h4>
								<h5>Programmer</h5>
								<h5>A system that uses machine learning to pick possible medications based on symptoms</h5>
							</div>
					</div>
				</div>
				<div class="col-md-6 col-xs-6 wow fadeIn" data-wow-delay="0.6s">
					<div class="portfolio-thumb">
						<img src="images/portfolio-img11.jpg" class="img-responsive" alt="portfolio img">
							<div class="portfolio-overlay">
								<h4>Melodify</h4>
								<h5>Programmer</h5>
								<h5>A music player with functional soundtracks and a login page</h5>
							</div>
					</div>
				</div>
				<div class="col-md-6 col-xs-6 wow fadeIn" data-wow-delay="0.6s">
					<div class="portfolio-thumb">
						<img src="images/portfolio-img5.jpg" class="img-responsive" alt="portfolio img">
							<div class="portfolio-overlay">
								<h4>Unity Game</h4>
								<h5>Lead Programmer</h5>
								<h5>A basic game made in Unity, with working NPCs.</h5>
							</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end portfolio -->

		<!-- start contact -->
		<div id="contact" class="section">
			<div class="container">
				<div class="row">
					<div class="col-lg-5 col-lg-offset-1 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
						<address>
							<p class="contact-title">CONTACT ME</p>
							<p><i class="fa fa-phone"></i> 905-966-7649</p>
							<p><i class="fa fa-envelope-o"></i> jacobbaumgarten5@gmail.com</p>
							<p><i class="fa fa-map-marker"></i> 914 Mohawk Rd E, L8T 2R8</p>
						</address>
					</div>
					<div class="col-lg-6 col-md-6 col-xs-10 wow fadeInUp" data-wow-delay="0.6s">
						<form role="form" method="post" action="#">
							<input name="name" type="text" class="form-control" id="name" placeholder="Your Name">
							<input name="email" type="email" class="form-control" id="email" placeholder="Your Email">
							<textarea name="message" rows="5" class="form-control" id="message" placeholder="Your Message"></textarea>
							<input name="send" type="submit" class="form-control" id="send" value="SEND ME">
						</form>
					</div>
					<div class="col-md-1 col-sm-1"></div>
				</div>
			</div>
		</div>
		<!-- end contact -->

		<!-- start footer -->
		<footer>
			<div class="container">
				<div class="row">
					<div class="col-md-12 wow fadeIn" data-wow-delay="0.9s">
						<p>Copyright &copy; 2018 Lavish Personal Profile 
                        
                        . Designed by <a rel="nofollow noopener" href="https://templatemo.com">templatemo</a></p>
						<hr>
						<ul class="social-icon">
							<li><a href="#" class="fa fa-facebook"></a></li>
							<li><a href="#" class="fa fa-twitter"></a></li>
							<li><a href="#" class="fa fa-instagram"></a></li>
						</ul>
					</div>
				</div>
			</div>
		</footer>
		<!-- end footer -->

	</div>

		<!-- jQuery -->
		<script src="js/jquery.js"></script>
		<!-- bootstrap -->
		<script src="js/bootstrap.min.js"></script>
		<!-- fullpage -->
		<script src="js/jquery.fullPage.js"></script>
		<!-- smoothScroll -->
		<script src="js/smoothscroll.js"></script>
		<!-- wow -->
		<script src="js/wow.min.js"></script>
		<!-- text rotater -->
		<script src="js/jquery.simple-text-rotator.js"></script>
		<!-- custom -->
		<script src="js/custom.js"></script>

	</body>
</html>